<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/jquery.inputmask.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'usuario/css/style.css' %}">
    
    <title>Sabor Nordestino</title>
</head>
<body>
    <header class="content">
        <div class="Logo">
            <img src="{% static 'img/logo.png' %}" alt="logo">
            <h3>Sabor Nordestino</h3>

        </div>
        <div class="caixa"></div>
        <nav>
            <ul class = "list-menu">
                <li><a href="/produto">Cardápio</a></li>
                <li><a href="/pedido/carrinho">Carrinho</a></li>
                <li><a href="/usuario/login">Login</a></li>
            </ul>
        </nav>
        <div class="menu-toggle">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </header>

    <form method="post">
        {% csrf_token %}
        <section class="cardapio"   id="cardapio">
            <div class="login ">
                
                <h2>Cadastro</h2>
                
                

                {{form_usuario.nome.errors}}
                <label for="nome">Nome</label>
                {{form_usuario.nome}}

                {{form_usuario.cpf.errors}}
                <label for="cpf">CPF</label>
                {{form_usuario.cpf}}

                {{form_usuario.username.errors}}
                <label>Email: </label>
                {{form_usuario.username}}
                
                {{form_usuario.celular.errors}}
                <label for="celular">Celular</label>
                {{form_usuario.celular}}

                {{form_usuario.password1.errors}}
                <label for="password">Senha: </label>
                {{form_usuario.password1}}
                
                {{form_usuario.password2.errors}}
                <label for="connfirPassword">Confirme sua senha: </label>
                {{form_usuario.password2}}


                
            <button class="enviar">Enviar</button>

        </section>
    </form>

</body>
</html>